h3 {
    margin-top: 0em;
    margin-bottom: 0em;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    margin: 1rem;
}


/* Page Sections */
.section {
    padding: 1rem;
    background-color: #21212180;
    border-radius: 1rem;
}

.my-music {
    grid-row: span 2;
    width: 20rem;
}

.upcoming-djs {
    width: 16rem;
    height: 18rem;
    margin-bottom: 1rem;
}

.queue {
    width: 16rem;
    height: 18rem;
}

.album-cover {
    height: 16rem;
    width: 16rem;
    margin-bottom: 1rem;
}

.album-cover-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}

.song-title {
    position: relative;
    bottom: 20%;
    left: 5%;
}

.plus-icon {
    position: relative;
    bottom: 25%;
    left: 90%;
}

.lyrics {
    width: 16rem;
    height: 20rem;
    overflow: auto;
}


/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr {
    height: 2.5rem;
    text-align: left;
    text-indent: 0.5rem;
}

.table tr:nth-child(even) {
    background-color: #21212180;
}


/* th {
    border: 1px solid white;
} */