<div class="navbar">
    <span class="logo">LOGO</span>
    <div class="search">
        <form class="search-bar">
                <input class="input-bar" type="text" placeholder="Search your music">
                <i class="search-icon fas fa-search"></i>

        </form>
    </div>
    <i onclick="alert('This will open a dropdown eventually')" class="fa-solid fa-bars"></i>
</div>