<div class="dropdown">
    <i class="dropdown-btn fa-solid fa-ellipsis"></i>

    <div class="dropdown-content">
        <div class="dropdown-item" onclick="deleteSong('<%= song.title %>')">Delete</div>
    </div>
</div>