<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/group12.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="/js/menu.js"></script>
</head>

<body>

    <%- include('../partials/header') %>

        <div class="main-content">
            <div class="action-container">
                <% if (isLogin) { %>
                    <h2>Welcome,
                        <%= user.username %>!</h2>
                    <% if (user.username == 'listener') { %>
                        <button class="action-button" onclick="window.location.href='/listener'">Listener</button>
                        <% } %>
                            <% if (user.username == 'producer') { %>
                                <button class="action-button" onclick="window.location.href='/producer'">Producer</button>
                                <% } %>
                                    <% if (user.username == 'dj') { %>
                                        <button class="action-button" onclick="window.location.href='/dj'">DJ</button>
                                        <% } %>
                                            <% } %>
                                                <% if (isLogin) { %>
                                                    <button class="action-button" onclick="window.location.href='/logout'">Logout</button>
                                                    <% } %>
            </div>
        </div>

        <%- include('../partials/footer') %>

</body>

</html>